<img src="<%= @user.pic_url %>" alt="Profile Pic"  style="width:200px;height:200px;">
<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<% if @user.id == current_user.id %>
    <h6><a href="/users/<%= @user.id %>/edit">Edit Profile</a></h6>
<% end %>