
<% if object.errors.any? %>
  <%= tag.div id: "error_explanation" do %>
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</h2>
 
    <%= tag.ul do %>
      <% object.errors.full_messages.each do |msg| %>
        <%= tag.li msg %>
      <% end %>
    <% end %>
  <% end %>
<% end %>